@page
@{
	ViewData["Title"] = "密码";
}

<div class="layui-card">
	<div class="layui-card-header">修改密码</div>
	<div class="layui-card-body" pad15>
		<form class="layui-form" lay-filter="change">
			<div class="layui-form-item">
				<label class="layui-form-label">手机号码</label>
				<div class="layui-form-mid layui-word-aux" id="Mobile-Show"></div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">手机号码</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" name="Mobile" id="Mobile" placeholder="请输入" lay-verify="required|phone" lay-verType="tips" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-inline">
					<input type="password" class="layui-input" name="Password" id="Password" placeholder="请输入" lay-verify="password" lay-verType="tips" autocomplete="off" />
				</div>
				<div class="layui-form-mid layui-word-aux">6到16个字符</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">确认新密码</label>
				<div class="layui-input-inline">
					<input type="password" class="layui-input" name="ConfirmPassword" id="ConfirmPassword" placeholder="请输入" lay-verify="repassword" lay-verType="tips" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">图片验证码</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" name="VCode" id="VCode" placeholder="请输入" lay-verify="required" lay-verType="tips" autocomplete="off" />
				</div>
				<div class="layui-input-inline">
					<img src="/images/vcode.png" class="layadmin-user-login-codeimg" id="VCodeImg" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">短信验证码</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" name="SmsCode" id="SmsCode" placeholder="请输入" lay-verify="required" lay-verType="tips" autocomplete="off" />
				</div>
				<div class="layui-input-inline">
					<button type="button" class="layui-btn" id="sendSmsCode">获取短信验证码</button>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="submit" class="layui-btn" lay-submit="" lay-filter="submit" id="submit">确认修改</button>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts{
	<script src="~/js/personal/password.js?v=20200105"></script>
}
