@page
@{
	ViewData["Title"] = "我的桌面";
}

<div class="layui-row layui-col-space15">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-body">
				当前时间：@DateTime.Now.ToString()
			</div>
		</div>
	</div>
</div>
